.to-do-item {
    margin: 1rem 0;
    background: rgba(97, 0, 124, 0.5);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    color: white;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 10px;


}